@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* img{
    max-width: 100%;
} */
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #0762d9; */
    background-color: #2a2a72;
    background-image: linear-gradient(-315deg, #1a1aca 0%, #007efd 74%);
}
nav a{
    color: #ffff;
    text-transform: uppercase;
}
.logo img{
    height: 70px;
}
body{
    /* font-family: DM Sans; */
    font-family: 'Rubik', sans-serif;
    background: url(/img/main-pattern.webp)
}

/* image viewer */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0);  */
    /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* image viewer */

.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #07B0F2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%2307B0F2'/%3E%3Cstop offset='1' stop-color='%231848EB'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%2308a6f2'/%3E%3Cstop offset='1' stop-color='%231650ec'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23099cf1'/%3E%3Cstop offset='1' stop-color='%231459ed'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%230b91f1'/%3E%3Cstop offset='1' stop-color='%231262ee'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%230c88f1'/%3E%3Cstop offset='1' stop-color='%23106bef'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%230d7ef0'/%3E%3Cstop offset='1' stop-color='%230e74f0'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%230e74f0'/%3E%3Cstop offset='1' stop-color='%230d7ef0'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23106bef'/%3E%3Cstop offset='1' stop-color='%230c88f1'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%231262ee'/%3E%3Cstop offset='1' stop-color='%230b91f1'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%231459ed'/%3E%3Cstop offset='1' stop-color='%23099cf1'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%231650ec'/%3E%3Cstop offset='1' stop-color='%2308a6f2'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%231848EB'/%3E%3Cstop offset='1' stop-color='%2307B0F2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    /* color: #fff; */
    background: #ffff;
}
.item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    gap: 2rem;
    flex-shrink: 0;
    /* align-items: flex-start; */
    transition: 200ms ease-in;
}
.item:hover{
    background: #eeee;
}
/* .text-content{
    padding: 0.5rem;
} */
.item img{
    width: 110px;
    max-height: 130px;
    /* object-fit: cover; */
    border-radius: 0.2rem;
}
.item p{
max-width: 500px;
font-family: sans-serif;
font-size: 0.9rem;
/* color: #a6a6a6; */
color: #777;
padding: 0.2rem;
letter-spacing: 1px;
line-height: 1.3;
}
.text-content .price{
    font-size: 1rem;
    color: #0b5e0d;
}
.item h3{
    font-size: 1.2rem;
    color: #0762d9; 
}

@media (min-width:550px){
    .items-container{
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    }
}
.categories-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 800px;
    margin: 1rem auto;
}
a{
    text-decoration: none;
    color: #000;

}
.categories-list a{
    font-weight: light;
/* color:#0762d9; */
    border: 1.2px solid #0762d9;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    color: #0762d9;

}
.current-item{
    text-align: center;
    padding: 1rem;
    color: #0762d9;
    text-transform: capitalize;
}
.current-item{
    font-weight: 700;
}
.category-title{
    padding: 1rem 2.5rem;
    color: #3107d9;
    font-weight: bolder;
    text-align: center;
    font-size: 1.3rem;
}
.hide-category{
    display: none;
}
.back-to-top{
    background: #0762d9;
    padding:0.8rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    width: 41px;
    justify-items: center;
    border-radius: 50%;
    opacity: 0.7;
    position: fixed;
    /* left: 0; */
    bottom: 0;
    right: 0;
    margin: 1rem;
}